.mainsignup{
    margin: 0;
    padding: 0;
    background-color: rgb(32, 36, 40);    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.signupForm{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10%;
}
.signupForm h1{
    text-align: center;
    border-bottom: 1px solid rgb(149, 148, 148);
    padding: 0 0 17px 0;
}
.signupForm .main{
    padding: 0 40px;
    box-sizing: border-box;
}
.main .Field{
    position: relative;
    border-bottom: 2px solid #9c9b9b;
    margin: 30px 0;
}
.Field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background:none;
    outline: none;
}
.signupForm p{
    padding: 0 40px;
}
.Field label{ 
    position: absolute;
    top: 50%;
    left: 5px;
    color: #848383;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.Field span::before{content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #2691d9;
}
.Field input:focus ~ label,
.Field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.Field input:focus ~ span::before,
.Field input:valid ~ span::before{
width: 100%;
}
.main button{
    background-color: #2691d9;
    width: 35%;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    color: #e9f4fb;
    border: 1px solid #2691d9;
}

